<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__info">
        <p class="text">First name: {{ firstName }}</p>
        <!--проверка на существование, или заглушка-->
        <p class="text">Last name: {{ lastName }}</p>
        <p class="text text_linked">Go to profile: {{ webSite }}</p>
        <!--сделать routerlink?-->
      </div>
      <p class="text">Space for message</p>
      <p class="text text_linked"><a>Logout</a></p>
    </div>
  </div>
</header>
