<div class="container">
  <h1 class="text text_large">Registration:</h1>
  <form [formGroup]="form" class="form form_auth">
    <div class="form__control">
      <label class="text">Email:</label>
      <input class="form__input" type="text" formControlName="email" />
      <ng-container
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
      >
        <span
          *ngIf="form.get('email')?.errors?.['email']"
          class="text text_small form__error"
          >Email is not correct</span
        >
        <span
          *ngIf="form.get('email')?.errors?.['required']"
          class="text text_small form__error"
          >The graph should be filled</span
        >
        <span
          *ngIf="form.get('email')?.errors?.['bookedEmail']"
          class="text text_small form__error"
          >This email is already booked</span
        >
      </ng-container>
    </div>
    <div class="form__control">
      <label class="text">Password:</label>
      <input class="form__input" type="password" formControlName="password" />
    </div>
    <button
      class="button form__button"
      (click)="submit()"
      [disabled]="form.invalid"
    >
      Submit
    </button>
  </form>
  <p class="text text_small">Or login, if you already have a registration:</p>
  <button class="button form__button" [routerLink]="['/login']">Login</button>
</div>
