<div class="menu">
  <div class="menu__inner">
    <h1 class="text text_large menu__title">Menu:</h1>
    <a class="text menu__item" [routerLink]="['/main/home']" appHover>Home</a>
    <a class="text menu__item" [routerLink]="['/main/inventory']" appHover
      >Inventory</a
    >
    <a class="text menu__item" [routerLink]="['/main/reports']" appHover
      >Reports</a
    >
    <a class="text menu__item" [routerLink]="['/main/billing']" appHover
      >Billing</a
    >
    <a class="text menu__item" [routerLink]="['/main/profile']" appHover
      >Profile</a
    >
  </div>
</div>
